<header class="flex">
  <h1>Приклади до другої лекції</h1>
  <h2>TypeScript</h2>
</header>
<article class="flex">
  <h2>Типи даних</h2>
  <div class="flex flex-row content">
    <section class="flex box">
      <h3>Any</h3>
      <h4>a={{ a }}</h4>
      <label class="flex">
        Числове значення
        <input type="number" [(ngModel)]="a" />
      </label>
      <label class="flex">
        Рядкове значення
        <input type="text" [(ngModel)]="a" />
      </label>
    </section>
    <section class="flex box">
      <h3>Turple</h3>
      <button class="button" (click)="example2()">Go</button>
    </section>
    <section class="flex box">
      <h3>Enum</h3>
      <button class="button" (click)="example3()">Go</button>
    </section>
  </div>
</article>
<article class="flex">
  <h2>Функції</h2>
  <section class="flex flex-row content">
    <section class="flex box">
      <h3>Sum</h3>
      <p>sum={{ sum(1, 5) }}</p>
      <p>sum1={{ sum1(2, 4) }}</p>
      <p>sum2={{ sum2(12, 4) }}</p>
    </section>
    <section class="flex box">
      <h3>Sync/Async</h3>
      <label class="flex">
        Введіть назву піци
        <input type="text" value="Margarita" #namePizza />
      </label>
      <button class="button" (click)="sync(namePizza.value)">Sync</button>
      <button class="button" (click)="async(namePizza.value)">ASync</button>
    </section>
  </section>
</article>
<article class="flex">
  <h2>Масиви</h2>
  <section class="flex box">
    <div class="flex flex-row content">
      <p *ngFor="let a of array.a">{{ a }}</p>
    </div>
    <h3>Згенерувати новий масив</h3>
    <label class="flex">
      Кількість елементів
      <input type="number" min="1" value="10" #n />
    </label>
    <button class="button" (click)="genArray(n.value)">Генерувати</button>
    <button class="button" (click)="makeArray()">Розрахунок</button>
    <h4>Перетворення 1</h4>
    <div class="flex flex-row content">
      <p *ngFor="let a of b1">{{ a }}</p>
    </div>
    <h4>Перетворення 2</h4>
    <div class="flex flex-row content">
      <p *ngFor="let a of b2">{{ a }}</p>
    </div>
    <div>
      <p>Сума</p>
      <p>{{ sumArray }}</p>
    </div>
    <div>
      <p>Добуток</p>
      <p>{{ dob }}</p>
    </div>
  </section>
</article>
